<header class="py-20 bg-bg-3 text-center">
		<div class="container">
			<h2 class="display-3 mb-4 mb-xl-6" data-aos="fade-down" data-aos-delay="0">
				Your Bookings
			</h2>
			<p class="fs-1 mb-6 mb-md-8 remove-br" data-aos="fade-down" data-aos-delay="250">
				These creators are booked to make some meme &#x1f525; for you
			</p>
		</div>
	</header>
	<!-- Team 2 -->
		<section class="py-10 py-lg-20 text-center">

      <% @bookings.each do |booking|%>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-sm-6 col-md-5 col-lg-3 mb-6 mb-lg-0" data-aos="fade-down" data-aos-delay="400">
						<div class="border rounded-2 border-dark-3 p-6 h-100 shadow">
							<% cl_image_tag booking.meme_creator_listing.photo.key, class:"img-fluid mb-6 rounded-1" %>
							<h5 class="mb-2">
    	          <%= booking.meme_creator_listing.creator_name %>
							</h5>
							<p class="mb-4">
								<%= booking.meme_creator_listing.speciality %>
							</p>
						</div>
					</div>
         <%end%>
				</div>
			</div>
		</section>
