<h1>Booking</h1>
<br><br>
<div class="booking-show-container">
  <% Date = @booking.date_booked %>
  <h3>Confirmed:<%= @booking.meme_creator_listing %></h3>
  <div class="booking-show-status">
    <p>Booked by <%= @booking.user.name %><%= @booking.created_at.strftime(" on %m/%d/%Y") %></p>
     <% end %>
  </div>
</div>

<section class="bg-bg-3 py-4 py-lg-8 text-center">
		<div class="container">
			<img src="i/blog-16.jpg" srcset="i/blog-16@2x.jpg 2x" alt="" class="img-fluid rounded-circle mb-2" data-aos="fade-down" data-aos-delay="0">
			<h5 class="mb-1 pt-xxl-4" data-aos="fade-down" data-aos-delay="250">
				PROGRAMMERS MEME CREATOR
			</h5>
			<p class="mb-0 pb-xxl-12" data-aos="fade-down" data-aos-delay="500">
				£20
			</p>
			<a href="#" class="btn btn-dark-1 position-relative">
				CHECKOUT
			</a>
		</div>
	</section>
