<div class="container pb-5">
<h1 class="text-center font-sans subpixel-antialiased font-extrabold black"></h1>
<div class= "home-padding">

</div>
<div class=" flex flex-col my-auto items-center ">
    <img class="mx-auto d-block" src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,h_450/v1644283210/Full_Logo_lvetia.png" alt="Workflow logo">
</div>

<h3 class ="text-center font-sans subpixel-antialiased"> Go viral on social 🙌 - Book the best meme creators in the world!</h3>

<%= simple_form_for :search, url: root_path, method: :get do |f| %>

    <div class="search-form-control form-group col-6 mx-auto mt-5">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>


<% end %>

</div>
</div>
