$navy: #1F3D51;
$red: #ff0000;
$yellow: #F7D635;
$green: #5fda54;
$black: #000000;

.navbar {
  justify-content: space-between;
  background-color: #c9c9c9;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: sticky;
  top: 0px;
  a {
    color: $orange;
  }
  a:hover {
    color: $yellow;
    text-decoration: underline;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-blue {
  background-color: $green;
}

.navbar .navbar-brand img {
  width: 40px;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
