
<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
      <h2 class="text-2xl font-extrabold text-gray-900">Our Resident Meme Creators</h2>

      <div class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6">
        <div class="group relative">
          <div class="relative w-full h-80 bg-white rounded-md shadow-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
            <img src="https://i2-prod.mirror.co.uk/incoming/article21077892.ece/ALTERNATES/s1200/0_JS201040314.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="w-full h-full object-center object-cover">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Bozza
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Boris Johnson Meme Spealist</p>
        </div>

        <div class="group relative">
          <div class="relative w-full h-80 bg-white rounded-md shadow-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
            <img src="https://i.pinimg.com/originals/87/9c/24/879c24563621bdf00e0d7380eb0b777c.jpg" alt="">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Meeyaaw
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Cat Meme Specialist</p>
        </div>

        <div class="group relative">
          <div class="relative w-full h-80 bg-white rounded-md shadow-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
            <img src="https://i.pinimg.com/originals/ce/ba/ac/cebaac157a02d758a9b1caa98a1bbb13.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="w-full h-full object-center object-cover">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Eggmeister
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Egg Meme Specialist</p>
        </div>
      </div>
    </div>
  </div>
</div>
