<div class="d-flex flex-column align-items-center" >
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i2-prod.mirror.co.uk/incoming/article21077892.ece/ALTERNATES/s1200/0_JS201040314.jpg)">
  Boris Johnson Meme Specialist
</div>
<br><br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/87/9c/24/879c24563621bdf00e0d7380eb0b777c.jpg)">
  Cat Meme Specialist
</div>
<br><br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/ce/ba/ac/cebaac157a02d758a9b1caa98a1bbb13.jpg)">
  Egg Meme Specialist
</div>
<br><br>
