<div class="container">
			<div class="row justify-content-between align-items-center mb-15">
				<div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
					<h2 class="display-5 mb-4 mb-lg-0" data-aos="fade-down" data-aos-delay="0">
								Check Out Our Resident Meme Specialists
					</h2>
				</div>
				<div class="col-md-9 col-lg-5">
					<p class="fs-2 mb-0 w-75" data-aos="fade-down" data-aos-delay="150">
								These guys know how to create pointless memes that go viral &#x1f680;
					</p>
				</div>


			</div>
			<div class="row" data-aos="fade-down" data-aos-delay="250">
       <% @meme_creator_listings.each do |creator|%>
				<div class="mb-6 col-lg-4 col-md-6">
					<a href="#" class="d-block rounded-0 h-75 mb-4">
						<%= cl_image_tag creator.photo.key,  class: "mb-4 rounded-2 shadow d-xxl-flex w-100 h-100 position-relative img-fluid" %>
					</a>
					 <%= link_to "View More", meme_creator_listing_path(creator), class:"btn float-xxl-end btn-outline-dark-2 btn-sm pt-2 mt-3" %>

					</a>
					<div class="row justify-content-between">
						<div class="col">
						</div>
					</div>
					<h5>
						<%= creator.creator_name %>
					</h5>
					<h6 class="fw-1">
							<%= creator.speciality %>
					</h6>
				</div>
<% end %>

				</div>
			</div>
		</div>
