<section class="py-10 py-lg-20 bg-bg-3 text-center">
		<div class="container col-auto">
			<div class="justify-content-center row">
				<div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
					<h2 class="display-5 mb-0 float-xxl-none" data-aos="fade-down" data-aos-delay="0">
								NAME
					</h2>
					<p class="mb-15 fs-2 py-0" data-aos="fade-down" data-aos-delay="150">
								SPECIALITY
					</p>
				</div>
			</div>
			<div class="row">
				<div class="mb-3 mb-sm-6 col-lg-6 container-xl" data-aos="fade-down" data-aos-delay="400">
					<a href="#" class="d-block rounded-1">
						<img src=https://res.cloudinary.com/dza6mn30y/image/upload/v1644368310/eggcellent_hugip3.jpg  alt="" class="w-100 rounded-1 shadow">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="mb-3 mb-sm-6 col-lg-6 container-xl" data-aos="fade-down" data-aos-delay="400">
					<p class="fs-2 fw-bold float-xxl-start">
								Price per Meme : £20
					</p>
				</div>
			</div>
			<div class="row">
				<div class="mb-3 mb-sm-6 col-lg-6 container-xl position-relative" data-aos="fade-down" data-aos-delay="400">
					<a href="#" class="d-block">
					</a>
					<a href="#" class="btn w-25 rounded-1 float-xxl-start btn-outline-bg-1">
								Book Now
					</a>
				</div>
			</div>
		</div>
	</section>
